.envelope-demo {
    & code {
        font-size: 1rem;
    }

    & h1 {
        font-size: 1.5rem;
    }

    & h2 {
        font-size: 1.2rem;
    }

    & p {
        line-height: 1.8em;
    }

    & form.new-msg {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        align-items: start;
    }

    margin: 0 auto;
    display: block;
    margin-bottom: 6rem;
    max-width: 40rem;
    font-family: 'Raleway', sans-serif;

    & .success {
        border: 4px solid green;
        padding: 1rem;
        margin-bottom: 1rem;
        border-style: dashed;
    }
}
