$iconColor: #2F596D;
$green-color: #e5fff0;

@import "bourbon";
@import "neat";

#content-detritus {
  padding: 1em;
  display: grid;
  gap: 2rem;
  // grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  align-items: stretch;
}

.post {
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

body {
  margin: 0;
  // font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 4em;

  img.thumbnail {
    max-width: 20em;
  }

  &.websites {
    .home-link {
      img {
        background-color: #ff7795;
      }
    }

    #content {
      text-align: left;
      background-color: beige;
      & > div {
        border: 1px solid gray;
        padding: 1em;
      }
    }
  }

  &.software {
    .software-links {
      margin-bottom: 2em;
    }

    .project > p {
      margin-top: 0;
    }

    #content {
      text-align: left;
      margin: 2em;
    }

    .home-link {
      img {
        background-color: #1ABBA7;
      }
    }

    #github-icon {
      img {
        width: 4em;
      }
    }
  }

  &.detritus {
    .home-link {
      img {
        background-color: #4fa8e0;
      }
    }
  }
}

.site-nav {
  justify-content: space-around;
  display: flex;
  align-items: center;
  position: relative;
  top: 6px;
  background-color: white;
  border-bottom: 1px solid black;
  margin-bottom: 2em;

  a {
    padding-left: 0.2em;
    &.active {
      background-image: radial-gradient(red, transparent);
    }
  }

  .home-link {
    img {
      width: 2em;
    }
  }
}

a {
  text-decoration: none;
}

p.main-text {
  font-weight: 300;
  font-size: 1.8em;
  margin-bottom: 2em;
  margin-top: 0;
  max-width: 14em;
  color: #05385F;
  font-size: 2em;
  margin: 0 auto;
  a {
    color: #1ABBA7;
    transition: color 0.2s;
    &:first-child {
      color: #ff7795;
    }
    &:last-child {
      color: #4fa8e0
    }
    &:hover {
      // background: linear-gradient(#e6646500 20%, gray 50%, transparent 71.2%);
      color: black;
    }
  }
}

#github {
    img {
        width: 100%;
        max-height: 100%;
        transition: opacity 0.2s;
        opacity: 0.6;
        &:hover {
            opacity: 1;
        }
    }
}

.icon-wrapper {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;

    .icon-box.github {
        width: 5vw;
    }
    .icon-box.email {
        width: 6vw;
    }
}

.icon-box {
    margin: 0 1em;
}

@-webkit-keyframes EvilColor {
    0%{background-position:0% 49%}
    50%{background-position:100% 52%}
    100%{background-position:0% 49%}
}
@-moz-keyframes EvilColor {
    0%{background-position:0% 49%}
    50%{background-position:100% 52%}
    100%{background-position:0% 49%}
}
// @-o-keyframes EvilColor {
//     0%{background-position:0% 49%}
//     50%{background-position:100% 52%}
//     100%{background-position:0% 49%}
// }
@keyframes EvilColor {
    0%{background-position:0% 49%}
    50%{background-position:100% 52%}
    100%{background-position:0% 49%}
}

.icon-box {
  display: inline-block;
  min-width: 40px;
  svg {
    width: 100%;
    height: 100%;
    &.icon-animate {
      position: absolute;
    }
  }
}

// .icon-copy {
//   opacity: 0.4;
// }

.email {
  #front-square {
    transition: fill-opacity 0.20s;
  }
  &:hover {
    #front-square {
      fill-opacity: 1;
    }
  }
}

#email {
  svg {
    // connecting lines in the box
    &.depressed {
      line {
        /* stroke: pink; */
        /* display: none; */
      }
    }
    path {
      stroke-width: 11;
      stroke: $iconColor;
    }
  }
}

.question {
  font-family: 'Lato', sans-serif;
  color: $iconColor;
  font-size: 4em;
  display: inline-block;
  position: relative;
  bottom: 0.1em;
}

.main-hr {
  color: #05385F;
  margin: 0 auto;
  top: 7em;
  position: absolute;
  width: 47%;
  left: 27%;
}

#content {
  text-align: center;
}

.main-image-wrapper {
  z-index: 1;
  height: 70vh;
  a {
    // fix the wierd background leak issue
    &::before {
      content: " ";
      position: absolute;
      z-index: 99;
      top: -3px;
      left: 0;
      right: 0;
      bottom: -4px;
      border-top: 5px solid white;
      border-bottom: 5px solid white;
    }
    display: inline-block;
    height: 50vh;
    width: 50vh;
    max-height: 350px;
    max-width: 350px;
    position: relative;
    top: 50%;
    transform: translateY(-40%);
  }
}

.main-image {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
  background: linear-gradient(304deg, #f8f292, #07bed8, rgb(253, 87, 144), #ffa849, #f8f292);

  background-size: 600%;
  -webkit-animation: EvilColor 10s ease infinite;
  -moz-animation: EvilColor 10s ease infinite;
  -o-animation: EvilColor 10s ease infinite;
  animation: EvilColor 10s ease infinite;
  margin-top: 1em;
}

.links {
  text-align: center;
  font-size: 2em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 15vh;
}

.links a {
  display: inline-block;
  width: 24%;
}

.links .active {
  color: pink;
}

