@use './variables' as v;

body.postcards {
    background-color: v.$bgc;
    margin-bottom: 8rem;

    ul {
        list-style: none;
        display: grid;
        gap: 3rem;
        grid-template-rows: auto;
        grid-template-columns: repeat(auto-fill, minmax(min(100%, 400px), 1fr));
        padding: 0;

        .postcard {
            // max-width: 10rem;
            margin-bottom: 2rem;
            height: 20rem;
            width: 20rem;
            justify-self: center;

            p {
                margin-top: 0;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
